<nav class="navigation">
    <ul class="popis">
      <li class="elementi" *ngIf="this.authService.isAdmin()">
        <a routerLink="/poduzeca">Poduzeća</a>
      </li>
      <li class="elementi" *ngIf="this.authService.isAdmin()">
        <a routerLink="/konfiguracija">Konfiguracija</a>
      </li>
      <li class="elementi" *ngIf="this.authService.isAdmin()">
        <a routerLink="/korisnici">Korisnici</a>
      </li>
      <li class="elementi" *ngIf="this.authService.isUser()">
        <a routerLink="/dolazak-na-posao">Dolazak na posao</a>
      </li>
      <li class="elementi" *ngIf="this.authService.isModerator()">
        <a routerLink="/zaposlenici">Zaposlenici</a>
      </li>
      <li class="elementi" *ngIf="this.authService.isAuthentificated()">
        <a routerLink="/natjecaj">Natječaji</a>
      </li>
      <li class="elementi">
        <a>ERA model</a>
      </li>
      <li class="elementi">
        <a>Navigacijski</a>
      </li>
    </ul>
  </nav>