<mat-toolbar>
  <button mat-icon-button class="material-icon-sharp">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Zapošljavanje</span>

  <span class="example-spacer"></span>

  <button mat-icon-button class="material-icon-sharp">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-raised-button color="primary" routerLink="/prijava">Prijava</button>
      <!-- <div class="dropdown">
        <select name="jezici" class="jezici">
          <option value="hrvatski" selected>HR</option>
          <option value="engleski">EN</option>
          <option value="njemacki">GER</option>
        </select>
      </div>
    </div>

    <div id="modal" class="overlay">
      <div class="popup">
        <h2>Pretraživanje</h2>
        <a class="close" href="./index.html">&times;</a>
        <div class="content">
            <input type="text" id="search" name="Search" placeholder="Pretraživanje..." />
            <input type="button" id="go" value="Pretraži" disabled/>
        </div>
      </div>
    </div> -->
</mat-toolbar>