<nav class="navigation">
    <ul class="popis">
      <li class="elementi">
        <a routerLink="/registracija">Registracija</a>
      </li>
      <li class="elementi">
        <a routerLink="/prijava">Prijava</a>
      </li>
      <li class="elementi">
        <a routerLink="/korisnici">Obrazac</a>
      </li>
      <li class="elementi">
        <a>Multimedija</a>
      </li>
      <li class="elementi">
        <a>Popis</a>
      </li>
      <li class="elementi">
        <a>ERA model</a>
      </li>
      <li class="elementi">
        <a>Navigacijski</a>
      </li>
      <li class="odjava">
        <a routerLink="/prijava">Prijava</a>
      </li>
    </ul>
  </nav>