<mat-toolbar>
  <button mat-icon-button class="material-icon-sharp">
    <mat-icon>menu</mat-icon>
  </button>
  <a (click)="goToHomePage()">
    <span>Zapošljavanje</span>
  </a>

  <span class="example-spacer"></span>

  <button mat-icon-button (click)="openDialog()" class="material-icon-sharp">
    <mat-icon>search</mat-icon>
  </button>
  <button *ngIf="!this.authService.isAuthentificated()" mat-raised-button color="primary" routerLink="/prijava">Prijava</button>
  <button *ngIf="this.authService.isAuthentificated()" mat-button [matMenuTriggerFor]="menu">{{ username }}</button>
  <mat-menu #menu="matMenu" xposition="after">
    <!-- <button mat-menu-item routerLink="/profil">Profil</button> -->
    <button mat-menu-item (click)="this.authService.removeUser()">Odjava</button>
  </mat-menu>
</mat-toolbar>