<h2 mat-dialog-title>Detalji korisnika</h2>
<mat-dialog-content>
    <form class="grid" [formGroup]="form">
        <mat-form-field class="col-6">
            <mat-label>Ime</mat-label>
            <input matInput placeholder="Ime" formControlName="Ime" />
        </mat-form-field>
        <mat-form-field class="col-6">
            <mat-label>Prezime</mat-label>
            <input matInput placeholder="Prezime" formControlName="Prezime" />
        </mat-form-field>
        <mat-form-field class="col-6">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="Email" />
        </mat-form-field>
        <mat-form-field class="col-6">
            <mat-label>
                Korisničko ime
            </mat-label>
            <input matInput placeholder="Korisničko ime" formControlName="KorisnickoIme" />
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Uloga korisnika</mat-label>
            <mat-select formControlName="UlogaKorisnikaID" [(value)]="selectedUloga">
                <mat-option *ngFor="let uloga of uloge" [value]="uloga.ID">
                    {{ uloga.Naziv }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
    <mat-form-field class="col-12" *ngIf="this.form.controls['UlogaKorisnikaID'].value == 2">
        <mat-label> Poduzeća </mat-label>
        <mat-chip-grid #chipGrid aria-label="Poduzeća">
          <mat-chip-row *ngFor="let pod of poduzeca" (removed)="remove(pod)">
            {{ pod }}
            <button matChipRemove [attr.aria-label]="'remove' + pod">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          placeholder="Odaberi poduzeća"
          #poduzecaInput
          formControlName="poduzeceCtrl"
          [matChipInputFor]="chipGrid"
          [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
          [displayWith]="displayFn"
        >
          <mat-option
            *ngFor="let poduzece of filteredPoduzeca | async"
            [value]="poduzece"
          >
            {{ poduzece.Naziv }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Neuspješne prijave</mat-label>
            <input matInput placeholder="Neuspješne prijave" formControlName="NeuspjesnePrijave" />
        </mat-form-field>
        <div class="col-12">
          <mat-slide-toggle class="col-6" formControlName="Blokiran" color="warn">
              Blokiran
          </mat-slide-toggle>
          <mat-slide-toggle class="col-6" formControlName="Active" color="primary">
              Active
          </mat-slide-toggle>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="onCancel()">Odustani</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" (click)="onSave()">Spremi</button>
</mat-dialog-actions>