<mat-card class="razmak">
  <mat-card-title> Popis zapisa </mat-card-title>
  <div class="roditelj">
    <div class="dijete">
        <label for="vrstaPromjene">Vrsta promjene: </label>
      <select [(ngModel)]="vrstaPromjeneIDFilter">
        <option *ngFor="let vp of vrstePromjene" [ngValue]="vp.ID">
          {{ vp.Naziv }}
        </option>
      </select>
    </div>
    <div class="dijete">
      <label for="vrijemePocetkaFilter">Vrijeme Izvođenja:: </label>
      <input
        type="datetime-local"
        [(ngModel)]="vrijemePocetkaFilter"
        placeholder="Vrijeme Izvođenja:"
      />
    </div>
    <div class="dijete">
      <button mat-raised-button color="primary" (click)="applyFilter()">
        Filtriraj
      </button>
      <button mat-raised-button (click)="clearFilter()">Očisti filter</button>
    </div>
  </div>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="DatumPromjene">
        <th
          mat-header-cell
          *matHeaderCellDef
          (click)="sortData('DatumPromjene')"
        >
          Datum promjene
          <mat-icon
            *ngIf="sortOrder === 'desc' && sortColumn === 'DatumPromjene'"
            >keyboard_arrow_down</mat-icon
          >
          <mat-icon
            *ngIf="sortOrder === 'asc' && sortColumn === 'DatumPromjene'"
            >keyboard_arrow_up</mat-icon
          >
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.DatumPromjene | date : "dd-MM-yyy HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Detail">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('Detail')">
          Podaci
          <mat-icon *ngIf="sortOrder === 'desc' && sortColumn === 'Detail'"
            >keyboard_arrow_down</mat-icon
          >
          <mat-icon *ngIf="sortOrder === 'asc' && sortColumn === 'Detail'"
            >keyboard_arrow_up</mat-icon
          >
        </th>
        <td mat-cell *matCellDef="let element">{{ element.Detail }}</td>
      </ng-container>

      <ng-container matColumnDef="Naziv">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('Naziv')">
          Vrsta promjene
          <mat-icon *ngIf="sortOrder === 'desc' && sortColumn === 'Naziv'"
            >keyboard_arrow_down</mat-icon
          >
          <mat-icon *ngIf="sortOrder === 'asc' && sortColumn === 'Naziv'"
            >keyboard_arrow_up</mat-icon
          >
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.Naziv }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3"><h3>Nema podataka!!!!</h3></td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions align="end">
    <span><strong>Broj podataka po stranici:</strong> {{ stranicenje }}</span>
    <span
      ><strong>Stranica:</strong> {{ IndexStranice + 1 }} /
      {{ mathCeil(ukupnoZapisa, stranicenje) }}</span
    >
    <button
      mat-button
      (click)="IndexStranice = 0; sortOrder = ''; updatePageData()"
      [disabled]="IndexStranice === 0"
    >
      <mat-icon>first_page</mat-icon>
    </button>
    <button
      mat-button
      (click)="previousPage()"
      [disabled]="IndexStranice === 0"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button
      mat-button
      (click)="nextPage()"
      [disabled]="IndexStranice >= ukupnoZapisa / stranicenje - 1"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button
      mat-button
      (click)="
        IndexStranice = mathCeil(ukupnoZapisa, stranicenje) - 1;
        sortOrder = '';
        updatePageData()
      "
      [disabled]="IndexStranice >= ukupnoZapisa / stranicenje - 1"
    >
      <mat-icon>last_page</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
