<mat-card class="razmak">
  <mat-card-title class="razmak">Popis natječaja</mat-card-title>
  <mat-card-content>
    <div></div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('ID')">
          ID
          <mat-icon *ngIf="sortOrder === 'desc' && sortColumn === 'ID'">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sortOrder === 'asc' && sortColumn === 'ID'">keyboard_arrow_up</mat-icon>
        </th>
        <td mat-cell *matCellDef="let natjecaj">{{ natjecaj.ID }}</td>
      </ng-container>

      <ng-container matColumnDef="Naziv">
        <th mat-header-cell *matHeaderCellDef (click)="sortData('Naziv')">
          Naziv
          <mat-icon *ngIf="sortOrder === 'desc' && sortColumn === 'Naziv'">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sortOrder === 'asc' && sortColumn === 'Naziv'">keyboard_arrow_up</mat-icon>
        </th>
        <td mat-cell *matCellDef="let natjecaj">{{ natjecaj.Naziv }}</td>
      </ng-container>

      <ng-container matColumnDef="VrijemePocetka">
        <th
          mat-header-cell
          *matHeaderCellDef
          (click)="sortData('VrijemePocetka')"
        >
          Početak
          <mat-icon *ngIf="sortOrder === 'desc' && sortColumn === 'VrijemePocetka'">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sortOrder === 'asc' && sortColumn === 'VrijemePocetka'">keyboard_arrow_up</mat-icon>
        </th>
        <td mat-cell *matCellDef="let natjecaj">
          {{ natjecaj.VrijemePocetka | date : "dd-MM-yyy HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="VrijemeKraja">
        <th
          mat-header-cell
          *matHeaderCellDef
          (click)="sortData('VrijemeKraja')"
        >
          Kraj
          <mat-icon *ngIf="sortOrder === 'desc' && sortColumn === 'VrijemeKraja'">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sortOrder === 'asc' && sortColumn === 'VrijemeKraja'">keyboard_arrow_up</mat-icon>
        </th>
        <td mat-cell *matCellDef="let natjecaj">
          {{ natjecaj.VrijemeKraja | date : "dd-MM-yyy HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Opis">
        <th mat-header-cell *matHeaderCellDef>Opis</th>
        <td mat-cell *matCellDef="let natjecaj">{{ natjecaj.Opis }}</td>
      </ng-container>

      <ng-container matColumnDef="StatusNatjecajaNaziv">
        <th
          mat-header-cell
          *matHeaderCellDef
          (click)="sortData('StatusNatjecajaNaziv')"
        >
          Status
          <mat-icon *ngIf="sortOrder === 'desc' && sortColumn === 'StatusNatjecajaNaziv'">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sortOrder === 'asc' && sortColumn === 'StatusNatjecajaNaziv'">keyboard_arrow_up</mat-icon>
        </th>
        <td mat-cell *matCellDef="let natjecaj">
          {{ natjecaj.StatusNatjecajaNaziv }}
        </td>
      </ng-container>

      <ng-container matColumnDef="PoduzeceNaziv">
        <th
          mat-header-cell
          *matHeaderCellDef
          (click)="sortData('PoduzeceNaziv')"
        >
          Poduzeće
          <mat-icon *ngIf="sortOrder === 'desc' && sortColumn === 'PoduzeceNaziv'">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="sortOrder === 'asc' && sortColumn === 'PoduzeceNaziv'">keyboard_arrow_up</mat-icon>
        </th>
        <td mat-cell *matCellDef="let natjecaj">
          {{ natjecaj.PoduzeceNaziv }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions align="end">
    <span><strong>Broj podataka po stranici:</strong> {{ stranicenje }}</span>
    <span
      ><strong>Stranica:</strong> {{ IndexStranice + 1 }} /
      {{ mathceil(ukupnoNatjecaja, stranicenje) }}</span
    >
    <button
      mat-button
      (click)="IndexStranice = 0; sortOrder = ''; updatePageData()"
      [disabled]="IndexStranice === 0"
    >
      <mat-icon>first_page</mat-icon>
    </button>
    <button
      mat-button
      (click)="previousPage()"
      [disabled]="IndexStranice === 0"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button
      mat-button
      (click)="nextPage()"
      [disabled]="IndexStranice >= ukupnoNatjecaja / stranicenje - 1"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button
      mat-button
      (click)="
        IndexStranice = mathceil(ukupnoNatjecaja, stranicenje) - 1;
        sortOrder = '';
        updatePageData()
      "
      [disabled]="IndexStranice >= ukupnoNatjecaja / stranicenje - 1"
    >
      <mat-icon>last_page</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
