<mat-card class="center width_card">
  <mat-card-title> Konfiguracija </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <mat-label>Pomak vremena</mat-label>
        <input matInput placeholder="Pomak" formControlName="pomak" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Straničenje</mat-label>
        <input
          matInput
          placeholder="Straničenje"
          formControlName="stranicenje"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      type="button"
      (click)="dohvatPomaka()"
    >
      Dohvati pomak
    </button>
    <span class="example-spacer"></span>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onSubmit()"
    >
      Spremi
    </button>
  </mat-card-actions>
</mat-card>
